{% extends "layouts/base.html" %}

{% block title %} Radio {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

      {% include 'includes/navigation.html' %}

      <div class="preloader bg-soft flex-column justify-content-center align-items-center">
        <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/brand/dental-presentation-blue.png" height="300" alt="Volt logo">
      </div>

      <div class="py-4">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                  <li class="breadcrumb-item"><a href="#">Consultation</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Afficher radio</li>
              </ol>
          </nav>
          <div class="d-flex justify-content-between w-100 flex-wrap">
              <div class="mb-3 mb-lg-0">
                  <h1 class="h4">Details radio</h1>
                  <p class="mb-0">cliquez sur la rubrique de action pour plus d'information.</p>

                
             
              </div>
                  

              
          </div>
         
      </div>

      <div class="row">
          <div class="col-8 mb-4">
              <div class="card border-light shadow-sm components-section">
                  <div class="card-body">     
                     
                      <!-- Title  -->
                      <div class="row">
                          <div class="col-md-4">
                              <div class="mb-5">
                                  <h2 class="h5 mb-3">Informations radio patient: </h2>
                              </div>
                          </div>
                      </div>
                      <!-- End of Title -->
                      <div class="row mb-4 mb-lg-5">
                      
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <span class="h6 font-weight-bold">Nom et prenom :</span>
                              </div>
                              
                              <p class="lead text-info ">{{nom_patient}} {{prenom_patient}}
                              </p>
                          </div>
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <span class="h6 font-weight-bold">Titre :</span>
                              </div>
                              
                              <p class="lead text-info ">{{radio.titre_radio}} 
                              </p>
                          </div>
                        
                      </div>
                        
                      <div class="row mb-4 mb-lg-5">
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <span class="h6 font-weight-bold">Observation :</span>
                              </div>
                              <p class="lead text-info">{{radio.observation}}
                              </p>
                          </div>
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <span class="h6 font-weight-bold">Date de création :</span>
                              </div>
                              <p class="lead text-info">{{radio.created_at}}
                              </p>
                          </div>

                          
                                                  
                      </div>
                       <div class="row mb-4 mb-lg-5">
                       
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <span class="h6 font-weight-bold">Radio pdf :</span>
                              </div>
                              <a href="{{radio.radio_pdf.url}}" target="_blank" class="text-danger"><span class="fas fa-file-pdf"></span>Voir pdf</a> 
                          </div>

                          
                                                  
                      </div>





                      <div class="row mb-4 mb-lg-5">
                          
                          <div class="d-flex justify-content-between w-100 flex-wrap">
              <!-- <div class="mb-3 mb-lg-0">
                
                  <form action="{% url 'supprimer_radio' %}" method="POST">
                      {% csrf_token %}
                  <input type="hidden" name="id" value="{{radio.consultation.id}}">
                 
            
                   <button class="btn btn-outline-danger" type="submit">Supprimer</button>
                   </form>
            
                  
                  
              </div>
              <div>
                 <form action="http://localhost:8000/modifier_diagnostique_formulaire/" method="POST">
                    {% csrf_token %}
                  <input type="hidden" name="id" value="{{id}}">
                  <input type="hidden" name="nom" value="{{nom}}">
                  <input type="hidden" name="prenom" value="{{prenom}}">
              
                  <button type="submit" class="btn btn-outline-gray"> Modifier Radio</button>
                  </form>
              </div> -->
          </div>                 </div>
                  </div>
              </div>
          </div>
      </div>

      {% include 'includes/footer.html' %}

    </main>
                                    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
