{% extends "layouts/base.html" %}

{% block title %} Medicament {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Medicaments</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Tous les medicaments</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Ordonances ID = {{id}}</h2>
                    <p class="mb-0">Medicaments avec quentité mentionnées dans l'ordonances</p>
                </div>
            </div>
            <div class="table-settings mb-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-4">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" class="form-control" id="myInput" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2"
                            name="" onkeyup="searchFun()">
                        </div>
                    </div>
                    <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                       

                    </div>
                </div>
            </div>
            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                    
                            <th>Médicament</th>                       
                            <th>Quantité</th>
                           
                            
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
        {% for q in quantite %}
                        <tr>
                            <td>
                                <span class="font-weight-bold text-info">{{q.medicament.nom_medicament}},
                                {{q.medicament.dose}},
                            {{q.medicament.forme}}</span>
                            </td>
                            <td><span class="font-weight-bold text-success">{{q.quantite}}</span></td>                        
                            


                        </tr>
                        <!-- Item -->
                         {% endfor %}
                        

                        
                     
                        
                   
                        
                       
   
                                                  
                    </tbody>
                </table>
               
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}




<script type="text/javascript">
     const searchFun = () =>{
        let filter = document.getElementById('myInput').value.toUpperCase();

        let myTable = document.getElementById('myTable');

        let tr = myTable.getElementsByTagName('tr');

        for(var i=0; i<tr.length; i++){
            let td = tr[i].getElementsByTagName('td')[0];

            if(td){

                let textvalue = td.textContent || td.innerHTML;

                if(textvalue.toUpperCase().indexOf(filter) > -1)
                {
                       tr[i].style.display = "";
                     

                }else{

                    tr[i].style.display = "none";
                }

            }

        }



    }






    document.getElementById("myButton").onclick = function () {
        location.href = "/ajouter-medicament.html";
    };
</script>

{% endblock javascripts %}
