{% extends "layouts/base.html" %}

{% block title %} Consultation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Consultaions</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Toutes les consultations</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Toutes les consultations</h2>
                    <p class="mb-0">Pour plus d'information cliquer sur la rubrique actions</p>
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <form action="{% url 'consultations_payees' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="ines" value="ines">

                        <button  class="btn btn-sm btn btn-outline-success" type="submit">Payées</button>
                        </form>
                         <form action="{% url 'liste_consultation_non_payees' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="ines" value="ines">

                        <button class="btn btn-sm btn-outline-danger" type="submit">Reste à payées</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-settings mb-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-4">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" class="form-control"  id="myInput"  placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" name="" onkeyup="searchFun()">
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date de consultaion</th>
                            <th>Nom</th>                       
                            <th>Prenom</th>
                            <th>Prix définis</th>
                            <th>Prix payé</th>
                            <th>Reste</th>
                            <th>Action</th>
                            <th></th>
                             
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for consultation in consultation_list %}
                         {%if consultation.reste == 0  %}
                         <tr class="table-success" >
                            {% endif %}
                             {%if consultation.reste != 0  %}
                             
                        <tr class="table-danger" >
                             {% endif %}
                            <td>
                                <a href="/static/assets/invoice.html" class="font-weight-bold">
                                    {{consultation.id}}
                                </a>
                            </td>
                            <td><span class="font-weight-normal">{{consultation.created_at}}</span></td>
                            <td>
                                <span class="font-weight-normal">{{consultation.patient.nom}}</span>
                            </td>
                            <td><span class="font-weight-normal">{{consultation.patient.prenom}}</span></td>                        
                            <td><span class="font-weight-normal">{{consultation.prix_defini}}</span></td>
                            
                            <td><span class="font-weight-normal text-primary">{{consultation.prix_paye}}</span></td>
                            <td><span class="font-weight-normal">{{consultation.reste}}</span></td>
                                                         <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                       
                                        <form action="{% url 'supprimer_consultation' %}" method="POST">
                                             {% csrf_token %}


                                            <input type="hidden" name="id" value="{{consultation.id}}">
                                             <input type="hidden" name="patient" value="{{consultation.patient.id}}">
                                           
                                        <button class="dropdown-item text-danger" type="submit" ><span class="fas fa-trash-alt mr-2"></span>Supprimer</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                                    </div>
                                </div>
                            </td>
 
                        </tr>
                        <!-- Item -->
                         {% endfor %}
                        

                        
                     
                        
                   
                        
                       
   
                                                  
                    </tbody>
                </table>
               
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
       const searchFun = () =>{
        let filter = document.getElementById('myInput').value.toUpperCase();

        let myTable = document.getElementById('myTable');

        let tr = myTable.getElementsByTagName('tr');

        for(var i=0; i<tr.length; i++){
            let td = tr[i].getElementsByTagName('td')[2];

            if(td){

                let textvalue = td.textContent || td.innerHTML;

                if(textvalue.toUpperCase().indexOf(filter) > -1)
                {
                       tr[i].style.display = "";
                     

                }else{

                    tr[i].style.display = "none";
                }

            }

        }



    }








</script>





{% endblock javascripts %}
