{% extends "layouts/base.html" %}

{% block title %} Patient {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Patients</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Tous les patients</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Tous les patients</h2>
                    <p class="mb-0">Pour plus d'information cliquer sur la rubrique actions</p>
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <form action="{% url 'patients'%}" method="POST">
                            {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-primary">Tous</button>
                         </form>
                         <form action="{% url 'liste_patient_archiver' %}" method="POST">
                            {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-primary">Archivés</button>
                          </form>
                    </div>
                </div>
            </div>
            <div class="table-settings mb-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-4">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" class="form-control" id="myInput" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" name="" onkeyup="searchFun()">
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>                       
                            <th>Prenom</th>
                            <th>Date naissance</th>
                            <th>Sexe</th>
                            <th>Numéro de tel</th>
                             <th>Date de création</th>
                            <th>Action</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for patient in patient_list %}
                        <tr>
                            <td>
                                <a href="/static/assets/invoice.html" class="font-weight-bold">
                                    {{patient.id}}
                                </a>
                            </td>
                            <td>
                                <span class="font-weight-bold">{{patient.nom}}</span>
                            </td>
                            <td><span class="font-weight-bold">{{patient.prenom}}</span></td>                        
                            <td><span class="font-weight-bold">{{patient.date_naissance}}</span></td>
                            <td><span class="font-weight-normal">{{patient.sexe}}</span></td>
                            <td><span class="font-weight-bold text-primary">{{patient.numero_tel}}</span></td>
                            <td><span class="font-weight-bold">{{patient.created_at}}</span></td>


                            <td>
                                <div class="btn-group">
                                  <div class="dropdown dropdown-toggle-split m-0 p-0">
                                    <button class="dropbtn">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-content">
                                     
                                       
                                        <form action="{% url 'supprimer_patient'%}" method="POST">
                                             {% csrf_token %}

                                            <input type="hidden" name="id" value="{{patient.id}}">
                                        <button class="dropdown-item text-danger" type="submit" href="#"><span class="fas fa-trash-alt mr-2"></span>Restaurer </button>
                                        </form>
                                <form action="{% url 'desarchiver_patient' %}" method="POST">
                                             {% csrf_token %}

                                            <input type="hidden" name="id" value="{{patient.id}}">
                                        <button class="dropdown-item text-primary" type="submit" href="#"><span class="fas fa-archive mr-2"></span>Désarchiver </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td>More action</td>
                        </tr>
                        <!-- Item -->
                         {% endfor %}
                        

                        
                     
                        
                   
                        
                       
   
                                                  
                    </tbody>
                </table>
               
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}




<script type="text/javascript">
      const searchFun = () =>{
        let filter = document.getElementById('myInput').value.toUpperCase();

        let myTable = document.getElementById('myTable');

        let tr = myTable.getElementsByTagName('tr');

        for(var i=0; i<tr.length; i++){
            let td = tr[i].getElementsByTagName('td')[1];

            if(td){

                let textvalue = td.textContent || td.innerHTML;

                if(textvalue.toUpperCase().indexOf(filter) > -1)
                {
                       tr[i].style.display = "";
                     

                }else{

                    tr[i].style.display = "none";
                }

            }

        }



    }






    document.getElementById("myButton").onclick = function () {
        location.href = "/ajouter-patient.html";
    };
</script>

{% endblock javascripts %}
