{% extends "layouts/base.html" %}

{% block title %} Ordonance {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Ordonances</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Toutes les ordonances</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Toutes les ordonances</h2>
                    <p class="mb-0">Pour plus d'option cliquer sur la rubrique actions</p>
                </div>
            </div>
            <div class="table-settings mb-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-4">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" class="form-control" id="myInput" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2"
                            name="" onkeyup="searchFun()">
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0" style="height: 20rem;">
                <table class="table table-hover"  id="myTable">
                    <thead>
                        <tr>
                           
                            <th>Date</th>
                           
                            <th>Nom médecin</th>                       
                            <th>Nom patient</th>
                            <th>Prénom patient</th>
                            <th>Action</th>
                            <th></th>
                            
                            
                             
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for ordonance in ordonance_list %}
                        <tr>
                          
                           
                            <td>
                                <span class="font-weight-bold text-info">{{ordonance.created_at}}</span>
                            </td>
                             <td>
                                <span class="font-weight-bold text-info">{{ordonance.nom_medecin}}</span>
                            </td>
                            <td><span class="font-weight-normal text-info">{{ordonance.consultation.patient.nom}}</span></td>                        
                            <td><span class="font-weight-normal text-info">{{ordonance.consultation.patient.prenom}}</span></td>
                            
                            <td><span class="font-weight-normal text-info">{{ordonance.age}}</span></td>











                            
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <form  action="{% url 'list_medicament_ordonance' %}" method="POST">
                                            {% csrf_token %}
                                            
                                
         <input type="hidden" name="id" value="{{ordonance.consultation.id}}">
                                        <button class="dropdown-item text-info" type="submit"><span class="fas fa-capsules"></span>Voir medicaments</button>
                                        </form>


                                
                                       

                                         <form action="{% url 'view_pdf' %}" method="POST">
                                             {% csrf_token %}
                                              <input type="hidden" name="date" value="{{ordonance.created_at}}">
                                            
                                            <input type="hidden" name="id" value="{{ordonance.consultation.id}}">
                                        <button class="dropdown-item text-danger" type="submit" ><span class="fas fa-file-pdf"></span>Voir pdf</button>
                                        </form> 






                                         <form action="{% url 'supprimer_ordonance' %}" method="POST">
                                             {% csrf_token %}
                                             <input type="hidden" name="id" value="{{ordonance.consultation.id}}">
                                            
                                        <button class="dropdown-item text-danger" type="submit" ><span class="fas fa-trash-alt"></span>Supprimer</button>
                                        </form>
                                      
                                    </div>
                                </div>
                            </td>
                           


                      
                        </tr>
                        <!-- Item -->
                         {% endfor %}
                        

                        
                     
                        
                   
                        
                       
   
                                                  
                    </tbody>
                </table>
               
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    
  const searchFun = () =>{
        let filter = document.getElementById('myInput').value.toUpperCase();

        let myTable = document.getElementById('myTable');

        let tr = myTable.getElementsByTagName('tr');

        for(var i=0; i<tr.length; i++){
            let td = tr[i].getElementsByTagName('td')[2];

            if(td){

                let textvalue = td.textContent || td.innerHTML;

                if(textvalue.toUpperCase().indexOf(filter) > -1)
                {
                       tr[i].style.display = "";
                     

                }else{

                    tr[i].style.display = "none";
                }

            }

        }



    }














</script>






{% endblock javascripts %}
