{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            
           
        </div>
       
        <div class="row">
            <div class="col-12 col-xl-11 mb-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                    <h2 class="h5">Employees</h2>
                                    </div>
                                    <div class="col text-right">

                                      
                         <button id="myButton2"  type="submit" class="btn btn-info mr-2 dropdown-toggle" 
                        aria-haspopup="true" aria-expanded="false"> <span class="fas fa-plus mr-2"></span>Ajouter employée</button>
                                    </div>
                                </div>

                            </div>
                            <div class="table-responsive" style="height: 20rem;">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Numéro de telephone</th>
                                        <th scope="col">Slaire</th>
                                        <th scope="col">Date de création</th>
                                        <th>Action</th>
                                        <th></th>
                                       

                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for employe in list_employee%}
                                    <tr>
                                         <th scope="row">
                                           {{employe.id}} 
                                        </th>
                                        <th scope="row">
                                           {{employe.nom}} 
                                        </th>
                                        <td>
                                            {{employe.prenom}}
                                        </td>
                                        <td>
                                          {{employe.num_tel}}
                                        </td>
                                        <td>
                                            {{employe.salary}}
                                        </td>
                                        <td>
                                              {{employe.created_at}}
                                        </td>
                                        <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                    
                                         <form action="{% url 'supprimer_employe' %}" method="POST">
                                {% csrf_token %}
                     <input type="hidden" name="employe" value="{{employe.id}}">
              
     <button class="dropdown-item text-danger" type="submit" ><span class="fas fa-trash-alt"></span>supprimer</button>
                                        </form> 
                                      
                                    </div>
                                </div>
                            </td>
                                       
                          

                                    </tr>
                                {% endfor %}
                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


               
                
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12 col-xl-8 mb-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Depenses</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Employés</li>
                        </ol>
                    </nav>
                    <h2 class="h5">Depenses Employés</h2>
                                    </div>
                                    <div class="col text-right">
                                      <h2 class="h5 text-success">Total = {{depenses_employe}} DZD</h2>
                      
                                    </div>
                                </div>

                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Employe</th>
                                        <th scope="col">prix sortie</th>
                                        <th scope="col">Date de depenses</th>
                                        <th scope="col">Note</th>
                                      
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                                       

                                    </tr>
                                    </thead>
                                    <tbody>
                                       {% for depense in list_depense_employe %}
                                    <tr>
                                        
                                        <th scope="row">
                                             {{ depense.id}}
                                        </th>
                                        <td>
                                           {{depense.employee}}
                                        </td>
                                        <td>
                                          {{depense.prix_sortie}}
                                        </td>
                                        <td>
                                             {{depense.created_at}}
                                        </td>
                                        <td>
                                              {{depense.note}}
                                        </td>
                                        <td>More action</td>
                                        <td></td>
                                        

                          


                                    </tr>
                                {% endfor %}
                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


               
                
                </div>
            </div>
            
        </div>
        

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    
  
     document.getElementById("myButton2").onclick = function () {
        location.href = "/ajouter-employee.html";
    };



</script>





{% endblock javascripts %}
